.aboutMe {
    background-color: #6930C3;

    padding: 50px 50px;
    color: white;


    .me {
        h5 {
            line-height: 30px;
            text-align: center;
            font-size: 24px;

        }
    }
}